<h2>Uitleg makkelijke oefeningen</h2>

<h4 style="padding-top:50px">Oefening 1 (Models, Views, Controllers)</h4>
<div class="jumbotron">
    <h4>@Html.ActionLink("Oefening1", "Get", "Oefening1")</h4>
</div>

<h4 style="padding-top:50px">Oefening 2 (Get en Post)</h4>
<div class="jumbotron">
    <h4>@Html.ActionLink("Oefening2", "Index", "Oefening2")</h4>
</div>

<h4 style="padding-top:50px">Oefening 3 (Razor)</h4>
<div class="jumbotron">
    <h4>@Html.ActionLink("Oefening3", "Index", "Oefening3")</h4>
</div>



