<!-- Slideshow container -->

@Styles.Render("~/Content/powerpoint.css")

<div class="slideshow-container" id="slideshow">

    <!-- Gebruik juiste groote met jou laptop scherm! dynamisch werkt niet helemaal -->
    <div class="mySlides">
        <img src="~/Content/Dia1.JPG">
    </div>

    <div class="mySlides">
        <img src="~/Content/Dia2.JPG">
    </div>

    <div class="mySlides">
        <img src="~/Content/Dia3.JPG">
    </div>

    <div class="mySlides">
        <img src="~/Content/Dia4.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia5.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia6.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia7.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia8.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia9.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia10.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia11.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia12.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia13.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia14.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia15.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia16.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia17.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia18.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia19.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia20.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia21.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia22.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia23.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia24.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia25.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia26.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia27.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia28.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia29.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia30.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia31.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia32.JPG">
    </div>
    <div class="mySlides">
        <img src="~/Content/Dia33.JPG">
    </div>

   

    <!-- Next and previous buttons -->
    @*<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>*@

</div>
<br>


@*<script src="C:\Users\Levi Vlasblom\Desktop\School3Jaar\ASP-Les\Example_Page\Example_Page\Scripts\Slider.js" language="javascript" type="text/javascript"></script>*@

<script>
    document.onkeydown = checkKey;
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";

    }
    

    function checkKey(e) {

        e = e || window.event;

        if (e.keyCode == '38') {
            // up arrow
        }
        else if (e.keyCode == '40') {
            // down arrow
        }
        else if (e.keyCode == '37') {
            // left arrow
            plusSlides(-1)
        }
        else if (e.keyCode == '39') {
            // right arrow
            if (!$("#slideshow .item:last").hasClass('active')) {
                plusSlides(1)
            }
            
        }
    }
    //$('.slideshow-container').carousel({
    //    interval: false,
    //})

    //$(document).ready(function () {               // on document ready
    //    checkitem();
    //});

    //$('#slideshow').on('slid.bs.carousel', checkitem);

    //function checkitem()                        // check function
    //{
    //    var $this = $('#slideshow');
    //    if ($('.carousel-inner .item:first').hasClass('active')) {
    //        // Hide left arrow
    //        $this.children('.left.carousel-control').hide();
    //        // But show right arrow
    //        $this.children('.right.carousel-control').show();
    //    } else if ($('.carousel-inner .item:last').hasClass('active')) {
    //        // Hide right arrow
    //        $this.children('.right.carousel-control').hide();
    //        // But show left arrow
    //        $this.children('.left.carousel-control').show();
    //    } else {
    //        $this.children('.carousel-control').show();
    //    }
    //}
</script>
