@model Makkelijke_Oefeningen.Models.Oefening1Model

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <th>{Naam propertie}</th>
            <th>{Naam propertie}</th>
            <th>{Naam propertie}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{Model propertie}</td>
            <td>{Model propertie}</td>
            <td>{Model propertie}</td>
        </tr>
    </tbody>
</table>

<h3>{Link naar controller}</h3>
