@model Moeilijkere_Oefeningen.Models.OefeningModel

<h2>Session</h2>

<table class="table table-condensed">
    <tbody>
        <tr>
            <td>@Model.Username</td>
            <td>@Model.Password</td>
            <td>@Model.Email</td>
        </tr>
    </tbody>
</table>

