<button id="button" onclick="GetProfileData()">Get profile data</button>

<br /><br />

<table>
    <tr>
        <th>Full name</th>
        <th>School</th>
        <th>Age</th>
        <th>Date of birth</th>
    </tr>
    <tr>
        <td id="full-name"></td>
        <td id="school"></td>
        <td id="age"></td>
        <td id="date-of-birth"></td>
    </tr>
</table>

<script>
    function GetProfileData() {
        $("#button").html("Loading...");

        $.ajax({
            type: "GET",
            url: '@Url.Action("AjaxGet", "Tutorial")',
            DataType: "text",
            success: function (response) {
                $('#full-name').html(response.fullName);
                $('#school').html(response.school);
                $('#age').html(response.age);
                $('#date-of-birth').html(response.dateOfBirth);

                $("#button").html("Reload profile data");
            },
            error: function () {
                alert("Error while trying to retrieve the profile data");
                $("#button").html("Load profile data");
            }
        });
    }
</script>

<style>
    td, th {
        width: 150px;
        text-align: center;
    }
</style>