@*<body style="overflow: auto" oncontextmenu="return false;">
    <a href="@Url.Action("Index", "Tutorial")"></a>
    <div id="carousel" class="carousel" data-ride="carousel" data-interval="false">
        <div id="carousel-container" class="carousel-inner">
            <div class="item active">
                <img src="~/Content/1080p.jpg" alt="City" />
            </div>
            <div class="item">
                <img src="~/Content/raadeloos.jpg" alt="Raadeloos" />
            </div>
            <div class="item">
                <h1>@Session["test"]</h1>
            </div>
        </div>
    </div>
</body>

<script>
    $('#carousel').mouseup(function (event) {
        switch (event.which) {
            case 1:
                $('#carousel').carousel('next');
                break;
            case 3:
                $('#carousel').carousel('prev');
                break;
        }
    });
</script>*@