@model Makkelijke_Oefeningen.Models.OefeningModel

@{

}

<h2>Index</h2>

<table class="table table-condensed">
    <tbody>
        <tr>
            @{

            }
        </tr>
    </tbody>
</table>

