@model Makkelijke_Oefeningen.Models.OefeningModel

<h2>Index</h2>

<table class="table table-condensed">
    <tbody>
        <tr>
            <td>{Waarde van Username}</td>
            <td>{Waarde van Password}</td>
            <td>{Waarde van Email}</td>
        </tr>
    </tbody>
</table>

<form method="post">
    <input name="username" value="{Waarde van Username}" />
    <input name="password" value="{Waarde van Password}" />
    <input name="email" value="{Waarde van Email}" />

    <input type="submit" style="width: 200px" />
</form>

