@model Moeilijkere_Oefeningen.Models.OefeningModel

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Username</td>
            <td>@Model.Password</td>
            <td>@Model.Email</td>
        </tr>
    </tbody>
</table>